@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(225, 223, 217);
  --foreground: rgb(29, 35, 28);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
